/* Author:Unnimaya */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;  
}
h2{
    background-color: #f00;
}
/* Media Query */
@media screen and (max-width:576px){
    h2{
        background-color: #00f;
    }
}